@{
    ViewBag.Title = "Home Page";
}

<p>
    @Html.ActionLink("Sync upload with client validation", "Index", "SyncUpload")
</p>

<p>
    @Html.ActionLink("Async upload with client validation", "Index", "AsyncUpload")
</p>